{% extends 'base.html' %}

{% block content %}
<div class="subtitulo">
    <h2>Adicionar Cargo</h2>
</div>
<div class="digite_info">
    <form method="POST">
        <label for="nome">Nome do Cargo:</label><br>
        <input type="text" name="nome" required><br>
        <label for="id_setor">ID do Setor:</label><br>
        <input type="text" name="id_setor" required>
        <div class="botao">
            <input type="submit" value="Adicionar">
        </div>
        
    </form>
</div>
{% endblock %}
